{{ define "main" }}
<article class="prose">
    <h1 class="page-title">begin</h1>

    <blockquote>
        <p>"Soon after we can see, we are aware that we can also be seen. The eye of the other combines with our own eye to make it fully credible that we are part of the visible world."</p>
    </blockquote>

    <p>doe je ogen maar dicht</p>

    <blockquote>
        <p>"If we accept that we can see that hill over there, we propose that from that hill we can be seen. The reciprocal nature of seeing is more fundamental than that of spoken dialogue. And often dialogue is an attempt to verbalize this – an attempt to explain how, either metaphorically or literally, 'you see things', and an attempt to discover how 'he sees things'." (John Berger, Ways of seeing, 1972)</p>
    </blockquote>

    <p>contact: <a href="mailto:buikvet@gmail.com">buikvet@gmail.com</a></p>
</article>
{{ end }}
